<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	 <http:listener-config name="member-system-api-httpListenerConfig">
        <http:listener-connection host="${http.listner.host}" port="${http.listner.port}" />
    </http:listener-config>
    <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="eccbcad8-4643-4434-935d-9c6a62bfc4fb" >
		<salesforce:basic-connection username="${sfdc.userName}" password="${secure::sfdc.security.password}" securityToken="${secure::sfdc.security.token}" />
	</salesforce:sfdc-config>
    <apikit:config name="member-system-api-config" api="resource::7dbe30b7-b1f6-45d0-ad34-30f6f1ccff51:member-sapi-app-v1:1.0.0:raml:zip:member-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<configuration-properties doc:name="Configuration properties" doc:id="fec76841-f45a-4c56-8bef-eee119f6c7f9" file="properties/${env}.yaml" />
	<configuration doc:name="Configuration" doc:id="7ef8a5d9-5abb-40c3-af87-2f1ad6e9d1dc" defaultErrorHandler-ref="globalError_Handler" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="5ad4fbac-41c4-4c81-b155-6fe9b655b6d6" file="secureProperties/${env}.yaml" key="${encryptKey}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<api-gateway:autodiscovery apiId="${api.id}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="942d350b-34e9-4af5-bf7f-ea9e608dd28a" flowRef="member-system-api-main" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="de9d103f-9eee-479f-9dc2-2eed99f65274" >
		<db:my-sql-connection host="${database.host}" port="${database.port}" user="${database.username}" password="${secure::database.password}" />
	</db:config>
    
</mule>
